@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section.todo-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 20px;
}

.todo-list-container h1 {
    font-size: 2rem;
}

.todo-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.new-task {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    padding: 5px 7px;
    width: fit-content;
    background-color: red;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    border-radius: 10%
}

td button:nth-child(2) {
    background-color: green;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.search-field {
    padding: 5px;
    width: 300px
}

input {
    outline: none;
    border: 1px solid lightgray;
}

.todo-table-container {
    width: 100%;
    overflow: auto;
}

table {
    min-width: 900px;
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    text-align: center;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

footer.table-footer {
    text-align: center;
    width: 100%;
    position: relative;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

@media(max-width:450px) {
    .todo-list-container {
        width: 90%;
    }

    .todo-list-container h1 {
        font-size: 1.5rem;
    }

    .search-field {
        padding: 5px;
        width: 250px
    }
}